*{
    background-color: black;
    color: #FFFFFF;
    font-family: 'Kumbh Sans', sans-serif;
}
.test{
    font-weight: 700;
    font-size: 24px;
}
.logo{
    display: inline-block;
    list-style: none;
}
ul{
    /* display: inline-block; */
    list-style: none;
}
button{
    border: white;
    border-radius: 2px;
}